<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <select v-model="selectValue">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
    </select>
    <div>select的值是:{{selectValue}}</div>
    <input v-model="text" />
    <input type="checkbox" v-model="checked" />
    <div>当前单选框状态{{checked ? '选中' : '未选中'}}</div>
    <div>input的值:{{text}}</div>
    <div v-bind:a="test">11</div>
    <button v-on:click="handleClick">xxx</button>
  </div>
  <script src="./../dist/umd/vue.js"></script>
  <script>
    new Vue({
      el:'#app',
      data(){
        return {
          test:'hello word',
          text:'',
          checked:true,
          selectValue:'3'
        }
      },
      mounted(){
        this.handleClick()
      },
      methods:{
        handleClick(){
          console.log(111)
        }
      }
    })
  </script>
</body>
</html>
